.crop-square {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.very-large {
  font-size: 4em;
}

.indent {
  margin-left: 40px;
}

.bordered {
  border: 2px solid black;
}

div.DIV1{
    background-color: white;
    position: relative;
    top: 10px;
}
